.navbar_home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom: 5px solid;

    gap: 15vh;
    height: 10vh;
    width: 80%;
}

.navbar_home a {
    color: black;
    text-decoration: none;
    font-family: CaviarDreams;
    font-size: 4vh;
}

.container_home {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    margin: auto;
    padding: 20vh 0 20vh 0;
    max-width: 58%;
    max-height: 60vh;
}

.container_arrow_button_home_down {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 50%;
    margin-left: 40rem;
    margin-top: 7rem;
}

#arrow_button_home_down img{
    transition: 0.2s;
    transition-delay: 0.2s;
}

#arrow_button_home_down:hover img{
    width: 120px;
    height: 120px;
}