<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" >
</head>
<body>
    <footer>
        <p>Email: braianbbg4@gmail.com</p>
        <p>Linkedin: https://www.linkedin.com/in/banziis/</p>
        <p>Github: https://github.com/Braian-paC</p>
    </footer>
</body>
</html>